# Importacion de datos

## Importar librerias

In [50]:
import pandas as pd

from scripts.tools import *

## Conversion de datos

#### Datos de marginacion municipal 2020

In [46]:
df_marginacion_municipal = pd.read_csv('./data/raw/marginacion_municipal.gob.csv')

df_marginacion_municipal.head()

,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,POB_TOT,ANALF,SBASC,OVSDE,OVSEE,OVSAE,OVPT,VHAC,PL.5000,PO2SM,IM_2020,GM_2020,IMN_2020
0,1,Aguascalientes,1001,Aguascalientes,948990,1.644738,20.367220,0.104799,0.113169,0.378610,0.591434,10.339530,7.523683,54.226594,60.318795,Muy bajo,0.944508
1,1,Aguascalientes,1002,Asientos,51536,3.526405,33.906364,2.650373,0.486448,0.858160,1.352430,22.942305,78.221049,78.565471,56.546071,Muy bajo,0.885433
2,1,Aguascalientes,1003,Calvillo,58250,4.491509,42.482450,0.365177,0.516760,0.800978,1.040411,19.219858,51.301288,79.259777,57.058251,Muy bajo,0.893453
3,1,Aguascalientes,1004,Cosío,17000,3.144867,27.696745,0.712855,0.577354,0.659833,1.030989,22.716866,65.470588,81.726369,57.114030,Muy bajo,0.894326
4,1,Aguascalientes,1005,Jesús María,129929,2.380588,26.692477,0.277034,0.354957,0.860426,1.312652,16.404575,37.164143,56.748753,59.011762,Muy bajo,0.924042

In [48]:
marginacion_sonora = df_marginacion_municipal[df_marginacion_municipal.NOM_ENT == 'Sonora']

marginacion_sonora.to_csv('./data/marginacion_sonora_2020.csv', index=False)

#### Datos de pobreza nacional 2020

In [49]:
df_pobreza_nacional = pd.read_csv('./data/raw/pobreza_2020.gob.csv')

pobreza_sonora = df_pobreza_nacional[df_pobreza_nacional['entidad_federativa'] == "Sonora"]

pobreza_sonora.to_csv('./data/pobreza_sonora_2020.csv', index=False)

#### Datos de marginacion por localidad 2020 (datos.sonora.gob.mx)

In [52]:
convert_xlsx_to_csv('./data/raw/indice-de-marginacion-localidades-2020.xlsx', './data/indice_marginacion_localidad_sonora_2020.csv')

#### Nacimientos 2022 Sonora

In [53]:
convert_xlsx_to_csv('./data/raw/202209281437030-file.xlsx', './data/nacimientos_sonora_2022.csv')

In [59]:
def divorcios_del(fecha):
    df = pd.read_csv(f'./data/divorcios/divorcios_{fecha}.csv')
    return df

def matrimonios_del(fecha):
    df = pd.read_csv(f'./data/matrimonios/matrimonios_{fecha}.csv')
    return df

In [60]:
marginacion_2020 = pd.read_csv("./data/marginacion_sonora_2020.csv")
nacimientos_2022 = pd.read_csv("./data/nacimientos_sonora_2022.csv")
pobreza_2020 = pd.read_csv("./data/pobreza_sonora_2020.csv")
violencia_interfamiliar_2021 = pd.read_csv("./data/violencia_interfamiliar_2021.csv")
indice_marginacion_2020 = pd.read_csv("./data/indice_marginacion_localidad_sonora_2020.csv")
divorcios_2020 = divorcios_del(2020) # 2015 - 2024
matrimonios_2020 = matrimonios_del(2020) # 2015 - 2024
casos_crimen_2020 = pd.read_csv("./data/casos_crimen_2020.csv")

In [61]:
codigos_municipios = indice_marginacion_2020[["MUN", "NOM_MUN"]].drop_duplicates().\
    rename(columns={"NOM_MUN": "Municipio", "MUN": "Codigo"}).set_index("Codigo")

codigos_municipios.head()

          Municipio
Codigo
1           Aconchi
2       Agua Prieta
3            Alamos
4             Altar
5          Arivechi

In [114]:
divorcios_2020 = divorcios_del(2020)

divorcios_2020["municipio"] = divorcios_2020["municipio"].map(codigos_municipios["Municipio"])
divorcios_2020.head()

,municipio,fecha_matrimonio,año_registro,mes_registro,edad_div1,edad_div2,sexo_div1,sexo_div2,dia_registro
0,San Miguel de Horcasitas,16/12/1994,2020,4,62.0,48.0,M,F,21
1,Huatabampo,NaN,2020,3,NaN,NaN,M,F,13
2,Benjamín Hill,17/01/1997,2020,4,63.0,44.0,M,F,16
3,Guaymas,NaN,2020,2,NaN,NaN,NaN,NaN,1
4,La Colorada,23/03/1991,2020,3,NaN,59.0,M,F,11

In [115]:
divorcios_2020.isnull().sum()

municipio            0
fecha_matrimonio    23
año_registro         0
mes_registro         0
edad_div1           44
edad_div2           55
sexo_div1            7
sexo_div2            9
dia_registro         0
dtype: int64

In [116]:
divorcios_2020[divorcios_2020["municipio"] == "Moctezuma"]

,municipio,fecha_matrimonio,año_registro,mes_registro,edad_div1,edad_div2,sexo_div1,sexo_div2,dia_registro
12,Moctezuma,NaN,2020,4,NaN,NaN,NaN,NaN,8
696,Moctezuma,19/08/2017,2020,10,54.0,58.0,M,F,14

In [117]:
divorcios_2020 = divorcios_2020.dropna(subset=["sexo_div1", "sexo_div2"])

In [118]:
divorcios_2020.isnull().sum()

municipio            0
fecha_matrimonio    17
año_registro         0
mes_registro         0
edad_div1           37
edad_div2           46
sexo_div1            0
sexo_div2            0
dia_registro         0
dtype: int64

In [119]:
nulos_totales = divorcios_2020[['fecha_matrimonio', 'edad_div1', 'edad_div2']].isnull().groupby(divorcios_2020["municipio"]).sum()
pd.concat([nulos_totales, divorcios_2020[['municipio']].groupby(divorcios_2020["municipio"]).count()], axis=1, keys=['nulos', 'total'])

                                         nulos                         total
                              fecha_matrimonio edad_div1 edad_div2 municipio
municipio
Aconchi                                      0         0         0         1
Agua Prieta                                  0         0         1        23
Alamos                                       0         0         0        11
Altar                                        0         0         0         6
Bacadéhuachi                                 0         0         0         3
Bacoachi                                     0         1         1         1
Banámichi                                    0         0         0         4
Baviácora                                    0         0         1         7
Benito Juárez                                0         1         2        21
Benjamín Hill                                0         0         0        10
Bácum                                        1         1         2        24
Caborca                                      0         0         0        36
Cajeme                                       3         2         1       259
Cananea                                      0         1         0        22
Cucurpe                                      0         0         0         1
Cumpas                                       0         0         0         7
Empalme                                      0         1         0        31
Etchojoa                                     1         1         0        28
Fronteras                                    0         0         3        16
General Plutarco Elías Calles                0         0         0         6
Guaymas                                      1         6         6       120
Hermosillo                                   6        16        14       418
Huachinera                                   0         1         1         1
Huatabampo                                   1         1         2        39
Huásabas                                     0         0         0         1
Imuris                                       0         0         0        23
La Colorada                                  0         1         3        20
Magdalena                                    1         0         0        17
Mazatán                                      0         0         0         2
Moctezuma                                    0         0         0         1
Naco                                         0         0         0         5
Nacozari de García                           1         0         0        13
Navojoa                                      0         1         1       109
Nogales                                      0         0         0        73
Nácori Chico                                 0         0         0         3
Opodepe                                      0         0         1         1
Oquitoa                                      0         2         1         5
Pitiquito                                    0         0         0        20
Puerto Peñasco                               0         0         3        35
Quiriego                                     0         0         0         3
Rayón                                        0         0         1         5
Rosario                                      0         0         0         4
Sahuaripa                                    0         1         1         1
San Felipe de Jesús                          0         0         0         1
San Ignacio Río Muerto                       0         0         0        12
San Luis Río Colorado                        2         0         0       164
San Miguel de Horcasitas                     0         0         0         3
Santa Ana                                    0         0         0        13
Santa Cruz                                   0         0         0         1
Soyopa                                       0         0         0         3
Suaqui Grande                                0         0         0         2
Sáric                                        0         0         1         1
Tepache                                      0         0         0         2
Trincheras                                   0         0         0         2
Ures                                         0         0         0        17
Villa Hidalgo                                0         0         0         1
Villa Pesqueira                              0         0         0         2
Yécora                                       0         0         0         1

In [120]:

municipios_mayores_20 = divorcios_2020.groupby('municipio').size().where(lambda x: x >= 20).dropna().sort_values(ascending=False)

nombres_municipios_mayores_20 = municipios_mayores_20.index.tolist()

nombres_municipios_mayores_20

['Hermosillo',
 'Cajeme',
 'San Luis Río Colorado',
 'Guaymas',
 'Navojoa',
 'Nogales',
 'Huatabampo',
 'Caborca',
 'Puerto Peñasco',
 'Empalme',
 'Etchojoa',
 'Bácum',
 'Imuris',
 'Agua Prieta',
 'Cananea',
 'Benito Juárez',
 'La Colorada',
 'Pitiquito']

In [121]:
divorcios_2020["municipio"] = divorcios_2020["municipio"].where(
    divorcios_2020["municipio"].isin(nombres_municipios_mayores_20),
    "Otros"
)

In [122]:
nulos_totales = divorcios_2020[['fecha_matrimonio', 'edad_div1', 'edad_div2']].isnull().groupby(divorcios_2020["municipio"]).sum()
pd.concat([nulos_totales, divorcios_2020[['municipio']].groupby(divorcios_2020["municipio"]).count()], axis=1, keys=['nulos', 'total'])

                                 nulos                         total
                      fecha_matrimonio edad_div1 edad_div2 municipio
municipio
Agua Prieta                          0         0         1        23
Benito Juárez                        0         1         2        21
Bácum                                1         1         2        24
Caborca                              0         0         0        36
Cajeme                               3         2         1       259
Cananea                              0         1         0        22
Empalme                              0         1         0        31
Etchojoa                             1         1         0        28
Guaymas                              1         6         6       120
Hermosillo                           6        16        14       418
Huatabampo                           1         1         2        39
Imuris                               0         0         0        23
La Colorada                          0         1         3        20
Navojoa                              0         1         1       109
Nogales                              0         0         0        73
Otros                                2         5        11       196
Pitiquito                            0         0         0        20
Puerto Peñasco                       0         0         3        35
San Luis Río Colorado                2         0         0       164