# Importacion de datos

## Importar librerias

In [50]:
import pandas as pd

from scripts.tools import *

## Conversion de datos

#### Datos de marginacion municipal 2020

In [46]:
df_marginacion_municipal = pd.read_csv('./data/raw/marginacion_municipal.gob.csv')

df_marginacion_municipal.head()

,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,POB_TOT,ANALF,SBASC,OVSDE,OVSEE,OVSAE,OVPT,VHAC,PL.5000,PO2SM,IM_2020,GM_2020,IMN_2020
0,1,Aguascalientes,1001,Aguascalientes,948990,1.644738,20.367220,0.104799,0.113169,0.378610,0.591434,10.339530,7.523683,54.226594,60.318795,Muy bajo,0.944508
1,1,Aguascalientes,1002,Asientos,51536,3.526405,33.906364,2.650373,0.486448,0.858160,1.352430,22.942305,78.221049,78.565471,56.546071,Muy bajo,0.885433
2,1,Aguascalientes,1003,Calvillo,58250,4.491509,42.482450,0.365177,0.516760,0.800978,1.040411,19.219858,51.301288,79.259777,57.058251,Muy bajo,0.893453
3,1,Aguascalientes,1004,Cosío,17000,3.144867,27.696745,0.712855,0.577354,0.659833,1.030989,22.716866,65.470588,81.726369,57.114030,Muy bajo,0.894326
4,1,Aguascalientes,1005,Jesús María,129929,2.380588,26.692477,0.277034,0.354957,0.860426,1.312652,16.404575,37.164143,56.748753,59.011762,Muy bajo,0.924042

In [48]:
marginacion_sonora = df_marginacion_municipal[df_marginacion_municipal.NOM_ENT == 'Sonora']

marginacion_sonora.to_csv('./data/marginacion_sonora_2020.csv', index=False)

#### Datos de pobreza nacional 2020

In [49]:
df_pobreza_nacional = pd.read_csv('./data/raw/pobreza_2020.gob.csv')

pobreza_sonora = df_pobreza_nacional[df_pobreza_nacional['entidad_federativa'] == "Sonora"]

pobreza_sonora.to_csv('./data/pobreza_sonora_2020.csv', index=False)

#### Datos de marginacion por localidad 2020 (datos.sonora.gob.mx)

In [52]:
convert_xlsx_to_csv('./data/raw/indice-de-marginacion-localidades-2020.xlsx', './data/indice_marginacion_localidad_sonora_2020.csv')

#### Nacimientos 2022 Sonora

In [53]:
convert_xlsx_to_csv('./data/raw/202209281437030-file.xlsx', './data/nacimientos_sonora_2022.csv')

In [59]:
def divorcios_del(fecha):
    df = pd.read_csv(f'./data/divorcios/divorcios_{fecha}.csv')
    return df

def matrimonios_del(fecha):
    df = pd.read_csv(f'./data/matrimonios/matrimonios_{fecha}.csv')
    return df

In [175]:
marginacion_2020 = pd.read_csv("./data/marginacion_sonora_2020.csv")
nacimientos_2022 = pd.read_csv("./data/nacimientos_sonora_2022.csv")
pobreza_2020 = pd.read_csv("./data/pobreza_sonora_2020.csv")
violencia_interfamiliar_2021 = pd.read_csv("./data/violencia_interfamiliar_2021.csv")
indice_marginacion_2020 = pd.read_csv("./data/indice_marginacion_localidad_sonora_2020.csv")
divorcios_2020 = divorcios_del(2020) # 2015 - 2024
matrimonios_2020 = matrimonios_del(2020) # 2015 - 2024
casos_crimen_2020 = pd.read_csv("./data/casos_crimen_2020.csv")

In [172]:
codigos_municipios = indice_marginacion_2020[["MUN", "NOM_MUN"]].drop_duplicates().\
    rename(columns={"NOM_MUN": "Municipio", "MUN": "Codigo"}).set_index("Codigo")

codigos_municipios.head()

          Municipio
Codigo
1           Aconchi
2       Agua Prieta
3            Alamos
4             Altar
5          Arivechi

divorcios_2020 = divorcios_del(2020)

divorcios_2020["municipio"] = divorcios_2020["municipio"].map(codigos_municipios["Municipio"])
divorcios_2020.head()

In [176]:
divorcios_2020 = divorcios_2020.dropna(subset=["sexo_div1", "sexo_div2"])

In [177]:
divorcios_2020.isnull().sum()

municipio            0
fecha_matrimonio    17
año_registro         0
mes_registro         0
edad_div1           37
edad_div2           46
sexo_div1            0
sexo_div2            0
dia_registro         0
dtype: int64

In [178]:
nulos_totales = divorcios_2020[['fecha_matrimonio', 'edad_div1', 'edad_div2']].isnull().groupby(divorcios_2020["municipio"]).sum()
pd.concat([nulos_totales, divorcios_2020[['municipio']].groupby(divorcios_2020["municipio"]).count()], axis=1, keys=['nulos', 'total'])

                     nulos                         total
          fecha_matrimonio edad_div1 edad_div2 municipio
municipio
1                        0         0         0         1
2                        0         0         1        23
3                        0         0         0        11
4                        0         0         0         6
8                        0         0         0         3
11                       0         1         1         1
12                       1         1         2        24
13                       0         0         0         4
14                       0         0         1         7
16                       0         0         0        10
17                       0         0         0        36
18                       3         2         1       259
19                       0         1         0        22
21                       0         1         3        20
22                       0         0         0         1
23                       0         0         0         7
25                       0         1         0        31
26                       1         1         0        28
27                       0         0         3        16
29                       1         6         6       120
30                       6        16        14       418
31                       0         1         1         1
32                       0         0         0         1
33                       1         1         2        39
35                       0         0         0        23
36                       1         0         0        17
37                       0         0         0         2
38                       0         0         0         1
39                       0         0         0         5
40                       0         0         0         3
41                       1         0         0        13
42                       0         1         1       109
43                       0         0         0        73
45                       0         0         1         1
46                       0         2         1         5
47                       0         0         0        20
48                       0         0         3        35
49                       0         0         0         3
50                       0         0         1         5
51                       0         0         0         4
52                       0         1         1         1
53                       0         0         0         1
55                       2         0         0       164
56                       0         0         0         3
58                       0         0         0        13
59                       0         0         0         1
60                       0         0         1         1
61                       0         0         0         3
62                       0         0         0         2
63                       0         0         0         2
64                       0         0         0         2
66                       0         0         0        17
67                       0         0         0         1
68                       0         0         0         2
69                       0         0         0         1
70                       0         0         0         6
71                       0         1         2        21
72                       0         0         0        12

In [179]:

municipios_mayores_20 = divorcios_2020.groupby('municipio').size().where(lambda x: x >= 20).dropna().sort_values(ascending=False)

nombres_municipios_mayores_20 = municipios_mayores_20.index.tolist()

nombres_municipios_mayores_20

[30, 18, 55, 29, 42, 43, 33, 17, 48, 25, 26, 12, 2, 35, 19, 71, 21, 47]

In [ ]:
#divorcios_2020["municipio"] = divorcios_2020["municipio"].where(
#    divorcios_2020["municipio"].isin(nombres_municipios_mayores_20),
#    "Otros"
#)

In [180]:
nulos_totales = divorcios_2020[['fecha_matrimonio', 'edad_div1', 'edad_div2']].isnull().groupby(divorcios_2020["municipio"]).sum()
pd.concat([nulos_totales, divorcios_2020[['municipio']].groupby(divorcios_2020["municipio"]).count()], axis=1, keys=['nulos', 'total'])

                     nulos                         total
          fecha_matrimonio edad_div1 edad_div2 municipio
municipio
1                        0         0         0         1
2                        0         0         1        23
3                        0         0         0        11
4                        0         0         0         6
8                        0         0         0         3
11                       0         1         1         1
12                       1         1         2        24
13                       0         0         0         4
14                       0         0         1         7
16                       0         0         0        10
17                       0         0         0        36
18                       3         2         1       259
19                       0         1         0        22
21                       0         1         3        20
22                       0         0         0         1
23                       0         0         0         7
25                       0         1         0        31
26                       1         1         0        28
27                       0         0         3        16
29                       1         6         6       120
30                       6        16        14       418
31                       0         1         1         1
32                       0         0         0         1
33                       1         1         2        39
35                       0         0         0        23
36                       1         0         0        17
37                       0         0         0         2
38                       0         0         0         1
39                       0         0         0         5
40                       0         0         0         3
41                       1         0         0        13
42                       0         1         1       109
43                       0         0         0        73
45                       0         0         1         1
46                       0         2         1         5
47                       0         0         0        20
48                       0         0         3        35
49                       0         0         0         3
50                       0         0         1         5
51                       0         0         0         4
52                       0         1         1         1
53                       0         0         0         1
55                       2         0         0       164
56                       0         0         0         3
58                       0         0         0        13
59                       0         0         0         1
60                       0         0         1         1
61                       0         0         0         3
62                       0         0         0         2
63                       0         0         0         2
64                       0         0         0         2
66                       0         0         0        17
67                       0         0         0         1
68                       0         0         0         2
69                       0         0         0         1
70                       0         0         0         6
71                       0         1         2        21
72                       0         0         0        12

In [163]:
poblacion_sonora = pd.read_csv("./data/poblacion_municipal_2020.csv")

In [164]:
poblacion_sonora = poblacion_sonora[["Municipality", "Population"]]

poblacion_sonora.sort_values(by="Population", ascending=False)

             Municipality  Population
29             Hermosillo      936263
17                 Cajeme      436484
42                Nogales      264782
54  San Luis Río Colorado      199021
41                Navojoa      164387
..                    ...         ...
6                    Atil         626
53             San Javier         537
45                Oquitoa         496
52    San Felipe de Jesús         369
43                 Ónavas         365

[72 rows x 2 columns]

In [165]:
poblacion_sonora = poblacion_sonora.set_index("Municipality")

In [166]:
poblacion_sonora.sort_values(by="Population", ascending=False).head(15)

                       Population
Municipality
Hermosillo                 936263
Cajeme                     436484
Nogales                    264782
San Luis Río Colorado      199021
Navojoa                    164387
Guaymas                    156863
Agua Prieta                 91929
Caborca                     89122
Huatabampo                  77682
Puerto Peñasco              62689
Etchojoa                    61309
Empalme                     51431
Cananea                     39451
Magdalena                   33049
Álamos                      24976

In [167]:
nombres_municipios_mayores_20

['Hermosillo',
 'Cajeme',
 'San Luis Río Colorado',
 'Guaymas',
 'Navojoa',
 'Nogales',
 'Huatabampo',
 'Caborca',
 'Puerto Peñasco',
 'Empalme',
 'Etchojoa',
 'Bácum',
 'Imuris',
 'Agua Prieta',
 'Cananea',
 'Benito Juárez',
 'La Colorada',
 'Pitiquito']

In [168]:
#pd.concat([divorcios_2020["municipio"].value_counts(), poblacion_sonora])

pd.concat([pd.Series(divorcios_2020["municipio"].value_counts()),poblacion_sonora], axis=1, keys=['Divorcios 2020', 'Poblacion 2020'])

                      Divorcios 2020 Poblacion 2020
                               count     Population
Hermosillo                     418.0       936263.0
Cajeme                         259.0       436484.0
San Luis Río Colorado          166.0       199021.0
Guaymas                        122.0       156863.0
Navojoa                        111.0       164387.0
...                              ...            ...
Huépac                           NaN          943.0
Ónavas                           NaN          365.0
San Javier                       NaN          537.0
San Pedro de la Cueva            NaN         1458.0
Tubutama                         NaN         1473.0

[73 rows x 2 columns]

In [170]:
pd.Series(divorcios_2020["municipio"].rename_axis("Municipio"))

Municipio
0       San Miguel de Horcasitas
1                     Huatabampo
2                  Benjamín Hill
3                        Guaymas
4                    La Colorada
                  ...
1665                  Hermosillo
1666                     Navojoa
1667                  Hermosillo
1668                     Guaymas
1669                    Etchojoa
Name: municipio, Length: 1670, dtype: object

In [181]:
indice_marginacion = pd.read_csv("./data/indice_marginacion_localidad_sonora_2020.csv")

In [182]:
indice_marginacion.head()

,CVE_LOC,ENT,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,POB_TOT,ANALF,SBASC,OVSDE,OVSEE,OVSAE,OVPT,OVSREF,OVHAC,IM_2020,GM_2020,IMN_2020
0,260010001,26,Sonora,1,Aconchi,1,Aconchi,1650,2.099533,36.858476,0.666667,0.848485,0.484848,0.484848,3.636364,24.242424,24.036322,Muy bajo,0.918067
1,260010003,26,Sonora,1,Aconchi,3,La Estancia,761,3.921569,35.828877,1.051248,1.051248,0.788436,0.000000,3.547963,26.675427,23.888925,Muy bajo,0.912438
2,260010006,26,Sonora,1,Aconchi,6,El Rodeo (El Rodeo de Aconchi),23,0.000000,52.380952,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.591812,Muy bajo,0.939284
3,260010007,26,Sonora,1,Aconchi,7,San Pablo (San Pablo de Aconchi),118,4.347826,44.565217,0.847458,0.000000,0.847458,0.000000,1.694915,11.864407,24.143021,Muy bajo,0.922143
4,260020001,26,Sonora,2,Agua Prieta,1,Agua Prieta,91029,1.441957,25.657971,0.190413,0.890040,0.541360,0.903414,3.886269,25.164676,24.376460,Muy bajo,0.931059